<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Auto Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/view.css"> -->
    <link rel="stylesheet" href="../static/css/order.css">
    <link rel="icon" href="../static/images/logo.png" type="image/jpg">
  </head>
  <body>

    <header>
        <img alt="DB" class="logo" src="../static/images/logo.png">
        <h1 id="logo-header">Auto Shop</h1>
        <a href="{{url_for('home')}}" id="home-btn" class="button">Home</a>        
    </header>

    <div class="order-details">
        <h1>Order Details:</h1>
        <h3 id="order">Order ID: {{ data["orderId"] }}</h1>
        <h3 id="cost">Total: ${{ data["totalCost"] }}</h1>
        <h3>Contact: {{ data["contact"]["name"] }}</h3>
        <h3>Time of order: {{ data["submittedAt"] }}</h3>
    </div>
    
  </body>
</html>